body {
    font-family: 'Telex', sans-serif;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #08d;
}

#svg-image {
    width: 800px;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#main {
    width: 850px;
}

#invalid-extension {
    color: #f00;
}

#invalid-extension,
#invalid-input,
#kicad-pcb-save-link,
#svg-and-kicad-pcb-save-links,
#advanced-options,
#report-help {
    display: none;
}

#invalid-input {
    color: #f00;
}

.upgrade-browser-notification {
    background-color: #f88;
    padding: 10px;
    display: none;
}

.upgrade-browser-notification a:link,
.upgrade-browser-notification a:visited {
    color: #00f;
}

.float-input {
    width: 100px;
}

/* The styles below were borrowed from http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/ */

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #666;
}

ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#fff;
    background:#666;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ol,
li ul {
    margin-top:6px;
}

ol ol li:last-child {
    margin-bottom:0;
}
